.ButtonProduct {
    width: 200px;
    height: 56px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8585AD;

    border-bottom: 2px solid #4C4CFF;/* Перенести для акивного элемента */
}