.ProfileNavigation {
    padding: 0;
    margin: 0;
    width: 380px;
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    gap: 25px;       
}

.link {
    text-decoration: none;
    color: #8585AD;
}

.active {
    color: #F2F2F3;
    text-decoration: none;
}

