.CardProduct {
    width: 100%;
    max-width: 272px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.link {
    color: #F2F2F3;
    text-decoration: none;
}