.Header {
    border: 1px solid green;
    width: 100%;
    max-width: 1282px;
    display: grid;
    grid-template-columns: 1fr 1fr  1fr;    
    align-items: center;
    justify-items: center;
    margin: 21px 0;
    box-sizing: border-box;
}

.logoContainer {
    /* grid-column: 2; */
    display: flex;
    justify-content: center;
    
}