.HistoryOrder{
    border: 1px solid rosybrown;
    width: 100%;
    max-width: 844px;
    max-height: calc(100vh - 40px - 290px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 24px;
}