.IngredientsContainer {

    width: 100%;
    max-width: 868px;
    max-height: calc(100vh - 43vh);
    overflow-y: scroll;
    overflow-x: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    box-sizing: border-box;
}
/*  */
.IngredientsContainer>div {
    min-height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 100%;
    max-width: 565px;
    height: 40%;
    box-sizing: border-box;
}


/* .IngredientsContainer.Button {
    align-self: flex-end;
} */